aiohttp==3.6.2
async-timeout==3.0.1
asyncio==3.4.3
atomicwrites==1.4.0
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
configparser==5.0.0
diario==0.2.0
html5lib==1.0b10
idna==2.10
maltiverse @ git+https://github.com/maltiverse/python-maltiverse@bbb33bc26b5251d577e663dab04549ba601c5e62
more-itertools==8.4.0
multidict==4.7.6
packaging==20.4
pluggy==0.13.1
psycopg2==2.8.5
py==1.9.0
pyaes==1.6.1
pyasn1==0.4.8
PyJWT==1.7.1
pyparsing==2.4.7
PySocks==1.7.1
pytest==5.4.3
pytest-httpserver==0.3.4
requests==2.24.0
rsa==4.1
sdklib==1.10.3
shellingham==1.3.2
six==1.15.0
SQLAlchemy==1.3.17
Telethon==1.14.0
typer==0.2.1
urllib3==1.22
vt-py==0.5.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
yarl==1.4.2
